* {
  background-color: pink;
}
.search-bar {
  padding: 20px;
  margin: 14em 0em 0em 26em;
  font-size: 20px;
  box-shadow: 5px 10px #888888;
}
.done {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 376px) {
  .search-bar {
    padding: 20px;
    font-size: 20px;
    box-shadow: 5px 10px #888888;
    margin-left: 0px;
  }
}
